.about-container {
    margin: 20px;
    display: flex;
    flex-direction: column; 
}

.about-title {
    text-align: center; 
    margin-bottom: 40px;
}

.content-boxes {
    display: flex;
    flex-direction: row; 
    gap: 40px; 
}

.content-box {
    flex: 1; 
    width: 40vw;
    height:70vh;
    padding: 20px; 
    border: 1px solid #ccc;
}
