<div class="experience-container">
    <h2 class="page-title">Experience</h2>
    <div class="experience-list">
      <div class="experience-item">
        <img class="company-logo" src="../../assets/company.png" alt="Company Logo">
        <div class="experience-content">
          <h3 class="job-title">User Interface Dev Intern</h3>
          <p class="company">Command Zero</p>
          <p class="duration">May 2023 - Present</p>
          <ul class="job-responsibilities">
            <li>Developed UI applications using Angular and Typescript</li>
            <li>Implemented API integrations and database management.</li>
            <li>Collaborated with the design team to create responsive UI/UX.</li>
          </ul>
        </div>
      </div>
      <!-- Add more experience items as needed -->
    </div>
    <div class="resume-download">
      <p>Download Resume: <a href="../../assets/Resume.pdf" target="_blank">Here</a></p>
    </div>
  </div>
  