* {
    color: white;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}


.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    max-height: calc(100vh - 4rem);
    overflow: auto;
    padding-right: 1rem;
}

input,
textarea {
    color: black;
    border: 2px solid #010053;
    resize: none;
    border-radius: 10px;
}

.page-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
}

h1,
h2,
p {
    text-align: center;
    color: white;
}

label {
    display: block;
    width: 100%;
    text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
    font-size: 20px;
    width: 50%;
    padding: 8px;
    margin: 5px 0;
    height: 40px;
}

#message {
    font-size: 16px;
    width: 800px;
    height: 200px;
}

input[type="submit"] {
    border: 2px solid #010053;
    display: inline-block;
    background-color: white;
    color: black;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #010053;
    color: white;
}

@media screen and (max-width: 1024px) {
    .content-wrapper {
        width: 90%;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 18px;
        width: 50%;
        padding: 8px;
        margin: 5px 0;
        height: 40px;
    }

    #message {
        font-size: 16px;
        width: 100%;
        height: 300px;
    }

    input[type="submit"] {
        padding: 10px 20px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .content-wrapper {
        width: 100%;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 16px;
        width: 100%;
        padding: 8px;
        margin: 5px 0;
        height: 30px;
    }

    #message {
        font-size: 16px;
        width: 100%;
        height: 20vh;
    }

    input[type="submit"] {
        padding: 10px 20px;
        font-size: 1rem;
    }
}
@media screen and (min-width: 1600px){
    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 16px;
        width: 50%;
        padding: 8px;
        margin: 5px 0;
        height: 30px;
    }

#message{
    height: 50vh;
}
.container{
    padding-top: 10vh;
}

}