.body-container {
    display: flex;

    justify-content: center;
    align-items: flex-start;

    flex-wrap: wrap;
   

}
.body-container > div {
    height: 500px;
    margin: 20px;
    width: 800px;
    padding-left: 50px; 
    padding-right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.body-container > div1 {
   
    padding-right: 50px; 
    padding-top: 50px;
    line-height: 10px;   
    

}

.body-container >div> h1 {
    display: flex;
    color: rgba(142, 142, 142, 0.90);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20;
 
}
.body-container > div > progress {
    width: 80%;
    height: 25px;
}

.skills-container>p{
    line-height: 1px;
    font-weight: bold;
    color: rgb(61, 61, 61)
}

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
  }

.s0{
    color: rgba(142, 142, 142, 0.90);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 60;
    font-size:x-large;
}

.s1{ 
    font-size: medium;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(142, 142, 142, 0.90);
    font-weight: 60;
  }

.s2{
    font-size: x-small;
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 60;
    text-align: center;
  }
.table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color:rgb(61, 61, 61);
    padding-bottom: 5px;
    text-align: left;

}
.credentials{
    color:rgba(142, 142, 142, 0.90);
    font-family: Arial, Helvetica, sans-serif;
}
.spaceUnder > td{
    padding-top: 30px;
  }