<body>
    <header>
        <h1 class="page-title">Skills</h1>
    </header>

    <div class="container">
        <div class="skill">
            <img src="../../assets/python.png" alt="Icon 1" class="skill-icon">
            <h3>Python</h3>
            <p>Short description of skill 1.</p>
        </div>
        <div class="skill">
            <img src="../../assets/c.png" alt="Icon 1" class="skill-icon">
            <h3>C</h3>
            <p>Short description of skill 2.</p>
        </div>
        <div class="skill">
            <img src="../../assets/c++.png" alt="Icon 1" class="skill-icon">
            <h3>C++</h3>
            <p>Short description of skill 3.</p>
        </div>
        <div class="skill">
            <img src="../../assets/java.png" alt="Icon 1" class="skill-icon">
            <h3>Java</h3>
            <p>Short description of skill 4.</p>
        </div>
        <div class="skill">
            <img src="../../assets/react.png" alt="Icon 1" class="skill-icon">
            <h3>React</h3>
            <p>Short description of skill 5.</p>
        </div>
        <div class="skill">
            <img src="../../assets/angular.png" alt="Icon 1" class="skill-icon">
            <h3>Angular</h3>
            <p>Short description of skill 6.</p>
        </div>
    </div>
</body>