
html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: white;
    overflow: hidden;
}


.page-title {
    text-align: center;
    font-size: 3rem;
}

header {
    color: white;
    text-align: center;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

.container {
    padding: 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    height: 150px;
    flex: 0 0 calc(33.3333% - 1rem);
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    background-color: #001d66;
    border: 1px solid white;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    
}

.skill-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
}

.skill h3 {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}