<div class="main">
    <div class="header">
      <h1>
        <p class="title">{{title}}</p>
        <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/skills">Skills</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/experience">Experience</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>        
      </h1>
    </div>
    <div class="content"><router-outlet><span id="test">{{ title }} app is running!</span></router-outlet></div>
    <footer class="footer">
        <a class="linkedin-button" href="https://www.linkedin.com/in/jordan-torske-b461aa264" target="_blank">
            <img src="../assets/linked.png" alt="LinkedIn" />
          </a>
    </footer>
  </div>
  