    <div class="body">
      <div class="text-and-about">
        <div class="text">Welcome to my Portfolio</div>
        <p class="about">I am a software engineering student at the University of Calgary, where I am honing my skills in the development and design of software applications. With a passion for technology and innovation, I strive to create efficient and user-friendly software that solves real-world problems. Throughout my studies, I have gained hands-on experience in various programming languages and software development methodologies, and I am eager to bring my knowledge and skills to the industry. My ultimate goal is to make a positive impact on the world through my work in the tech sector.</p>
      </div>
      <img class="home-image" src="../../assets/suit.png" alt="">
    </div>
