
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #272727;
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 62.5%;
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    margin-right: 50px;
  }
  
  nav ul li {
    margin: 0 20px;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  nav ul li:hover{
    color: #e84a54;
  }

  nav ul li.active {
    color: #e84a54;
  }

  @media (max-width: 768px) {
    nav {
        display: flex;  
        justify-content: center; 
        align-items: center; 
        padding: 10px;
        width: 100%;
        font-size: 16px;
      }

    nav ul {
        padding:0;
        justify-content: center; 
    }

    nav ul li {
        margin: 0 10px;
    }
}